<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div ngModelGroup="userData" #userDataq="ngModelGroup">
    <button (click)="setAll()">Set All</button>
    <label>First Name</label>
    <br />
    <input type="text" name="fname" ngModel required />
    <br />
    <label>Email</label>

    <br />
    <input type="text" name="email" ngModel required email #email="ngModel" />
    <br />
    <span class="help-block" *ngIf="!email.valid && email.touched"
      >Please enter a valid email</span
    >
    <p *ngIf="!userDataq.valid && userDataq.touched">User Data is invalid!</p>
    <br />
    <select [ngModel]="defaultQuestion" name="secret">
      <option value="pet">Your First Pet?</option>
      <option value="teacher">Your First Teacher?</option>
    </select>
    <div>
      <textarea name="questionAnswer" rows="3" [(ngModel)]="answer"> </textarea>
    </div>
    <p>Your Reply: {{ answer }}</p>
    <div class="radio" *ngFor="let gender of genders">
      <label
        ><input
          type="radio"
          name="gender"
          id=""
          ngModel
          [value]="gender"
          required
        />
        {{ gender }}</label
      >
    </div>
    <button type="submit" [disabled]="!f.valid">Submit</button>
  </div>
</form>
<div class="" *ngIf="submitted">
  <div class="">
    <h3>Your Data</h3>
    <p>Username: {{ user.username }}</p>
    <p>Mail: {{ user.email }}</p>
    <p>Secret Question:{{ user.secretQuestion }}</p>
    <p>Answer:{{ user.answer }}</p>
    <p>Gender:{{ user.gender }}</p>
  </div>
</div>
