--if you want to inject a service inside anything
    --that class should have a metadata 
    -- components have @component() decorator metadata
    -- for simple class or service we should 